.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50px 0px;
    gap: .5rem;
}

.dataContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    h4 {
        color: white;
        font-size: 1.2rem;
        text-align: left;
    }
    .disconnected {
        color: gray;
    }
    p {
        font-size: 13px;
        text-align: left;
    }
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }
    
    /* Tooltip text */
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    // background-color: gray;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    border-radius: 1rem;
    top: 100%;
    left: 10%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    font-size: 1rem;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
    visibility: visible;
    }
    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #857AFD transparent;
      }
    
}

.modalBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 21;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    background: #150637;
    border: 1px solid #857AFD;
    border-radius: 50px 0px;
    z-index: 22;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    min-height: 100%;
    height: fit-content;
}

.modalHeading {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.modalInputArea {
    display: flex;
    justify-content: center;
}

.modalTextInput {
    // border: 1px solid #AADCFE;
    color: white;
    background-color: transparent;
    outline: none;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    input {
        background-color: transparent;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    button {
        height: 28px;
        background-color: rgba(21, 61, 111, 0.44);
        border: 1px solid rgba(21, 61, 111, 0.44);
        border-radius: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0 .3rem 0 .3rem;
        color: rgb(109, 168, 255);
    }
    
    button:hover {
       
        border: 1px solid rgb(109, 168, 255);
        border-radius: 0.5rem;
    }
}

.modalDataContainer {
    display: flex;
    align-items: center;
    justify-items: start;
    border-radius: 15px;
    padding: .5rem;
    width: 100%;
    h4 {
        color: white;
        font-size: 1.2rem;
        text-align: left;
    }
    .disconnected {
        color: gray;
    }
    button {
        font-size: 13px;
        text-align: left;
    }}


.modalCurrencyIndicator {
    // border: 1px solid #AADCFE;
    border-left: none;
    color: #AADCFE;
    background-color: transparent;
    outline: none;
    width: fit-content;
    // padding: 0 0.5em;
}

.containerWrapper {
    height: fit-content;
    width: fit-content;
    position: relative;
}

.bondTableHeader {
    font-size: 8px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bondTableRow {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bondTablePages {
    font-size: 12px;

    width: 80%;
    margin: 1em auto;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    li::marker {
        content: '';
    }
    a[role="button"][aria-disabled="true"] {
        opacity: 0.25;
    }
}
