#riskModal {
    height: 100px;
    max-width: 300px;
    margin: 0 auto;
  }
#riskModal tbody td {
  margin-inline-start: 10px;
  margin-inline-end: 20px;
  box-shadow:
    1px -1px 1px lightgrey,
    2px -2px 1px lightgrey,
    3px -3px 1px lightgrey,
    4px -4px 1px lightgrey,
    5px -5px 1px lightgrey,
    6px -6px 1px lightgrey,
    7px -7px 1px lightgrey,
    8px -8px 1px lightgrey,
    9px -9px 1px lightgrey,
    10px -10px 1px lightgrey;
}
#riskModal.column {
  --lable-size: 2rem;
}

.lable {
  color: #BCE7FE;
}

.one {
  --size: 0.2;
  --color: linear-gradient(45deg, #7200e6, #6e07e7);
}
.two {
  --size: 0.4;
  --color:linear-gradient(45deg, #6e07e7, #690fe8);

}
.three {
  --size: 0.6;
  --color:linear-gradient(45deg, #690fe8, #6418ea);
 
}
.four {
  --size: 0.8;
  --color:linear-gradient(45deg, #6418ea, #5f20eb);
}
.five {
  --size: 1;
  --color: linear-gradient(45deg, #5f20eb, #5a28ec);

  /* --color: #BCE7FE; */
}

.center { 
  text-align: center
  
}

.riskBlocker {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.riskModalTextBox {
  display : flex;
  flex-direction: column;
  position : absolute;
  background : white;
  color : black;
  padding : 3em;
  left : 50%;
  top : 50%;
  transform : translate(-50%,-50%);
  z-index : 2;
}

.riskButton {
  margin-top:1rem;
  color:white;
  align-self:center;
  width:fit-content;
}